[submodule "rapidsms"]
	path = rapidsms
	url = git://github.com/rapidsms/rapidsms
[submodule "rapidsms-script"]
	path = rapidsms-script
	url = git://github.com/daveycrockett/rapidsms-script
[submodule "rapidsms-polls"]
	path = rapidsms-polls
	url = git://github.com/daveycrockett/rapidsms-polls
[submodule "healthmodels"]
	path = healthmodels
	url = git://github.com/daveycrockett/healthmodels
[submodule "rapidsms-generic"]
	path = rapidsms-generic
	url = git://github.com/daveycrockett/rapidsms-generic
[submodule "rapidsms-contact"]
	path = rapidsms-contact
	url = git://github.com/mossplix/rapidsms-contact
[submodule "eav"]
	path = eav
	url = git://github.com/daveycrockett/eav
[submodule "rapidsms-httprouter"]
	path = rapidsms-httprouter
	url = git://github.com/daveycrockett/rapidsms-httprouter
[submodule "rapidsms-ureport"]
	path = rapidsms-ureport
	url = git://github.com/daveycrockett/rapidsms-ureport
